<body class="text-center">
    <main class="main">
        <form class="form" [formGroup]="validateForm" (ngSubmit)="login()">
            <img src="https://i.imgyukle.com/2020/04/27/rVEu8j.png" width="450" height="350">
            <h2 class="h3 mb-3 font-weight-normal">Clone Youtube playlist to Spotify</h2>
            <input formControlName="url" name="url" id="urlinput" type="text" placeholder="Paste Youtube playlist url" label="Paste Youtube playlist url">
            <input type="text" formControlName="optional" maxlength="20" id="custominput" placeholder="playlist name (optional)" label="optional custom alias">
            <button type="submit">
                <p style="text-align: center; ">GO</p>
            </button>
        </form>

        <div class="text-center">
            <div class="loader" *ngIf="loading$ | async">
            </div>
        </div>

       

        <footer>
            <a href="https://github.com/ryuz4k1" target="_blank" rel="noopener">
                <img src="assets/icons/github.svg" alt="GitHub" style="height: 24px; margin-right: 8px;">GitHub
            </a>
            <div class="flex"></div>
            <a href="https://ryuz4k1.github.io/murat-ozer/">
                <img src="assets/icons/logo.svg" alt="logo" style="height: 24px; margin-right: 8px;">&copy;2020
            </a>
        </footer>
        
    </main>
</body>

 