<body class="text-center">
    <main class="main">
        <!-- <form class="form" [formGroup]="validateForm" (ngSubmit)="login()"> -->
        <form class="form">
            <img class="mb-4" src="https://image.shutterstock.com/image-photo/image-260nw-1033217662.jpg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Clone your youtube playlist to spotify</h1>
            <!-- <input id="urlinput" type="search" class="form-control" placeholder="Your Spotify name" formControlName="username">
            <button class="btn btn-lg btn-primary btn-block" type="submit" [class.btn-disabled]="!validateForm.valid" [disabled]="!validateForm.valid">
                <p style="text-align: center;">Sign in</p>
            </button> -->
            <a class="myButton" href="http://localhost:5000/auth/login">Sign in</a>
        </form>

        <footer>
            <a href="https://github.com/ryuz4k1" target="_blank" rel="noopener">
                <img src="assets/icons/github.svg" alt="GitHub" style="height: 24px; margin-right: 8px;">GitHub
            </a>
            <div class="flex"></div>
            <a href="https://ryuz4k1.github.io/murat-ozer/">
                <img src="assets/icons/logo.svg" alt="logo" style="height: 24px; margin-right: 8px;">&copy;2020
            </a>
        </footer>
        
    </main>
</body>

 